

footer {
  text-align: center;
  flex: 1;
  padding-bottom: 1.5em;
}

footer p {
  margin: 1% 0 !important;
}

main {
  /* background-color: black !important; */
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

Link, a {
  color: black !important; 
}

.nav-icon {
  margin: 0px 3px 5px 0px !important;
}

.nav-logout-icon {
  margin: 0px 10px 2px 0px !important;
}

.box-text {
  font-weight: 600;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.bg-box {
  margin: 0 !important;
  background-position: center;
}

.display-text {
  font-weight: 600;
  text-shadow:
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
